/* global css */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

small {
    font-size: 0.75rem;
}

body {
    line-height: 1.1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

:root {

    --dark-blue: #023958;
    --fl-green: #7ab200;
    --orange: #ffc107;
    --white: #ffffff;
    --dark-gray: #4d4d4d;

    --fnt-8: 0.5rem;
    --fnt-10: 0.625rem;
    --fnt-11: 0.6875rem;
    --fnt-12: 0.75rem;
    --fnt-13: 0.8125rem;
    --fnt-14: 0.875rem;
    --fnt-15: 0.9375rem;
    --fnt-16: 1rem;
    --fnt-17: 1.0625rem;
    --fnt-18: 1.125rem;
    --fnt-20: 1.25rem;
    --fnt-22: 1.375rem;
    --fnt-24: 1.5rem;
    --fnt-26: 1.625rem;
    --fnt-28: 1.75rem;
    --fnt-30: 1.875rem;
    --fnt-32: 2rem;
    --fnt-40: 2.5rem;
}

/* ==---------- CUSTOM FONT SIZES-------------==*/

.fnt-8 {
    font-size: var(--fnt-8);
}

.fnt-10 {
    font-size: var(--fnt-10);
}

.fnt-11 {
    font-size: var(--fnt-11);
}

.fnt-12 {
    font-size: var(--fnt-12);
}

.fnt-13 {
    font-size: var(--fnt-13);
}

.fnt-14 {
    font-size: var(--fnt-14);
}

.fnt-15 {
    font-size: var(--fnt-15);
}

.fnt-16 {
    font-size: var(--fnt-16);
}

.fnt-17 {
    font-size: var(--fnt-17);
}

.fnt-18 {
    font-size: var(--fnt-18);
}

.fnt-20 {
    font-size: var(--fnt-20);
}

.fnt-22 {
    font-size: var(--fnt-22);
}

.fnt-24 {
    font-size: var(--fnt-24);
}

.fnt-26 {
    font-size: var(--fnt-26);
}

.fnt-28 {
    font-size: var(--fnt-28);
}

.fnt-30 {
    font-size: var(--fnt-30);
}

.fnt-32 {
    font-size: var(--fnt-32);
}

.fnt-40 {
    font-size: var(--fnt-40);
}

@media (min-width: 576px) and (max-width: 991px) {
    .fnt-sm-8 {
        font-size: var(--fnt-8);
    }

    .fnt-sm-10 {
        font-size: var(--fnt-10);
    }

    .fnt-sm-13 {
        font-size: var(--fnt-13);
    }

    .fnt-sm-12 {
        font-size: var(--fnt-12);
    }

    .fnt-sm-14 {
        font-size: var(--fnt-14);
    }

    .fnt-sm-15 {
        font-size: var(--fnt-15);
    }

    .fnt-sm-16 {
        font-size: var(--fnt-16);
    }

    .fnt-sm-17 {
        font-size: var(--fnt-17);
    }

    .fnt-sm-18 {
        font-size: var(--fnt-18);
    }

    .fnt-sm-20 {
        font-size: var(--fnt-20);
    }

    .fnt-sm-22 {
        font-size: var(--fnt-22);
    }

    .fnt-sm-24 {
        font-size: var(--fnt-24);
    }

    .fnt-sm-26 {
        font-size: var(--fnt-26);
    }

    .fnt-sm-28 {
        font-size: var(--fnt-28);
    }

    .fnt-sm-30 {
        font-size: var(--fnt-30);
    }

    .fnt-sm-32 {
        font-size: var(--fnt-32);
    }

    .fnt-sm-40 {
        font-size: var(--fnt-40);
    }
}

@media (min-width: 992px) {
    .fnt-md-8 {
        font-size: var(--fnt-8);
    }

    .fnt-md-10 {
        font-size: var(--fnt-10);
    }

    .fnt-md-12 {
        font-size: var(--fnt-12);
    }

    .fnt-md-13 {
        font-size: var(--fnt-13);
    }

    .fnt-md-14 {
        font-size: var(--fnt-14);
    }

    .fnt-md-15 {
        font-size: var(--fnt-15);
    }

    .fnt-md-16 {
        font-size: var(--fnt-16);
    }

    .fnt-md-17 {
        font-size: var(--fnt-17);
    }

    .fnt-md-18 {
        font-size: var(--fnt-18);
    }

    .fnt-md-20 {
        font-size: var(--fnt-20);
    }

    .fnt-md-22 {
        font-size: var(--fnt-22);
    }

    .fnt-md-24 {
        font-size: var(--fnt-24);
    }

    .fnt-md-26 {
        font-size: var(--fnt-26);
    }

    .fnt-md-28 {
        font-size: var(--fnt-28);
    }

    .fnt-md-30 {
        font-size: var(--fnt-30);
    }

    .fnt-md-32 {
        font-size: var(--fnt-32);
    }

    .fnt-md-40 {
        font-size: var(--fnt-40);
    }
}

body,
html {
    /* font-family: 'Zilla Slab', serif; */
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}

.bg-blue {
    background-color: var(--dark-blue);
}

.bg-fl-green {
    background-color: var(--fl-green);
}

.bg-orange {
    background-color: var(--orange);
}

.bg-white {
    background-color: var(--white);
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.clr-orange {
    color: var(--orange);
}

.clr-blue {
    color: var(--dark-blue);
}

.clr-fl-green {
    color: var(--fl-green);
}

.clr-white {
    color: var(--white);
}

.clr-dark-gray {
    color: var(--dark-gray)
}

.w-600 {
    font-weight: 600;
}

.w-400 {
    font-weight: 400;
}

/* -------- custom scrollbar chrome------- */

.scrollbarChrome::-webkit-scrollbar,
.autosuggest__results-container::-webkit-scrollbar {
    width: 7px;
    background: hsla(0, 7%, 94%, 0.34) !important;
    margin-right: 1px;
}

.scrollbarChrome::-webkit-scrollbar-thumb,
.autosuggest__results-container::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.45) !important;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    width: 100%;
    min-height: 10px;
}

.scrollbarChrome::-webkit-scrollbar-track,
.autosuggest__results-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: hsla(0, 3%, 47%, 0.25) !important;
}

.scrollbarChrome_sharp::-webkit-scrollbar-track,
.autosuggest__results-container::-webkit-scrollbar-track,
.scrollbarChrome::-webkit-scrollbar-track,
.autosuggest__results-container::-webkit-scrollbar-track {
    border-radius: 0;
}

.vertical::-webkit-scrollbar {
    height: 5px;
    width: auto;
    overflow-x: auto;
}

.vertical::-webkit-scrollbar-thumb {
    background: #9a9a9a !important;
    width: auto;
}

.vertical::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
    background: #f6f6f6 !important;
}

/* -------- custom scrollbar chrome end------- */


/* custom header */
.navbar.custom-head {
    padding: 0;
    display: flex;
    align-items: center;
    height: 64px;
    z-index: 999;
}

.custom-head .nav-menu>.nav-link {
    background-color: #f2f2f2;
    color: var(--bs-black);
    margin-right: 2px;
    display: flex;
    align-items: center;
    padding: 0 1.25rem;
    height: 64px;
    transition: all 0.3s;
}

.custom-head .nav-menu .nav-link.cart {
    background-color: var(--dark-blue);
    width: 64px;
    height: 64px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pkg-count {
    position: absolute;
    right: 6px;
    top: 6px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: var(--orange);
    color: var(--bs-black);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 600;

}

.nav-menu>.nav-link:hover,
.nav-menu>.nav-link:focus,
.nav-menu>.nav-link.active {
    background-color: var(--fl-green);
    color: var(--white);
}

.nav-menu>.nav-link>svg,
.nav-menu>.nav-link>svg,
.nav-menu>.nav-link>svg {
    fill: var(--bs-black);
    transition: all 0.3s;
}

.nav-menu>.nav-link:hover>svg,
.nav-menu>.nav-link:focus>svg,
.nav-menu>.nav-link.active>svg {
    fill: var(--white);
}

/* Destination modal */
.destinations,
.experiences {
    position: absolute;
    top: 0;
    height: 0;
    width: 85%;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    transition: ease 0.4s;
    padding: 0 1.5rem;
    z-index: 3;
}

.destinations.open,
.experiences.open {
    position: absolute;
    top: 66px;
    display: block;
    background-color: var(--white);
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 25%);
    z-index: 2;
    padding: 1.5rem;
    height: auto;
    transition: ease 0.4s;
}

.destinations .heading,
.experiences .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
}

.destinations h5,
.experiences h5 {
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.destinations .view-more,
.experiences .view-more {
    color: var(--fl-green);
    fill: var(--fl-green);
    font-size: 1rem;
}

.destinations a,
.experiences a {
    font-size: 1.25rem;
    text-decoration: none;
    color: initial;
}

.destinations a>p {
    margin-top: 10px;
}

/* search block */
@media (min-width: 992px) {
    .over-head-block {
        position: absolute;
        display: flex;
        width: 60%;
        top: 15%;
        left: 50%;
        transform: translateX(-50%);
        flex-direction: column;
    }

    .main-head {
        font-size: 2.5rem;
        font-weight: 600;
        text-align: center;
        color: var(--white);
        text-shadow: 0 2px 8px rgb(0 0 0 / 40%);
        margin-bottom: 1rem;
    }

    .search-outer {
        box-shadow: 0 .875rem 1rem rgba(var(--bs-body-color-rgb), .20) !important;
        margin-top: 1.5rem;
        position: relative;
    }

    .input-block {
        width: 100%;
        height: 60px;
        background-color: var(--white);
        border-right: 1px solid #898989;
        padding: 0.55rem 1rem 0 1rem;
        display: flex;
        flex-direction: column;
    }

    .input-block>.search-label {
        font-size: 0.875rem;
        color: var(--bs-gray-600);
    }

    .input-block>input {
        border: none;
        background-color: transparent;
        height: 35px;
        font-size: 18px;
    }

    .input-block>input::placeholder {
        color: var(--bs-black);
    }

    .input-block>input:focus-visible {
        outline: none;
    }

    .input-block.search-btn {
        padding: 0.75rem 1rem;
        background-color: var(--orange);
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: var(--white);
        text-transform: uppercase;
        font-size: 18px;
        letter-spacing: 1px;
        text-decoration: none;
    }

    .or-divider {
        font-size: 1.25rem;
        font-weight: 600;
        text-align: center;
        color: var(--white);
        margin: 1.5rem 0;
    }

    .plan-journey {
        background-color: var(--dark-blue);
        color: var(--white);
        font-size: 1.25rem;
        padding: 1rem;
        height: 60px;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        left: 50%;
        position: relative;
        transform: translateX(-50%);
        text-decoration: none;
    }

    .plan-journey>img {
        height: 44px;
        margin-right: 20px;
    }
}

/* offer section */
.section-padding {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}

.offer-section {
    position: relative;
    margin-top: -5rem;
    background-color: var(--white);
    padding: 2rem 1rem 1rem;
    box-shadow: 0 0 1.5rem rgb(0 0 0 / 25%);
    border-radius: 10px;
}

.offer-tag {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--fl-green);
    font-size: 1.35rem;
    color: var(--white);
    padding: 0.5rem 4rem;
    border-radius: 20px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 1px;
}

.offer-block {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
}

.offer-details {
    position: absolute;
    bottom: 1rem;
    left: 0;
    color: var(--white);
    background-color: rgb(33 37 41 / 69%);
    padding: 0.5rem 1.5rem;
}

.offer-details>h3 {
    font-size: 1.5rem;
    font-weight: 700;
}

.offer-details>.offer-price {
    font-size: 1.2rem;
    font-weight: 700;
}

.offer-details>.offer-price>span {
    font-size: 1rem;
    font-weight: 400;
}

/* Holiday Themes */
.themes-section {
    background-color: var(--white);
    box-shadow: 0 0 1.5rem rgb(0 0 0 / 10%);
    padding: 1.5rem;
}

.theme-heading {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    text-align: center;
}

.theme-outer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.theme-item {
    position: relative;
    text-decoration: none;
}

.theme-item:hover .theme-icon {
    filter: sepia(1);
}

.theme-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgb(0 0 0 / 8%);
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transition: all 0.4s;
}

.theme-item:hover .theme-circle {
    box-shadow: none;
    /* background-color: rgb(122 178 0 / 28%); */
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
}

.theme-icon {
    height: 75px;
    transition: all 0.4s;
}

.theme-title {
    font-size: 16px;
    color: var(--dark-blue);
    text-align: center;
    font-weight: 600;
    margin-top: 0.5rem;
}

@media (max-width: 768px) {
    .theme-outer {
        flex-wrap: wrap;
    }
}

/* India Holiday section */
.section-title {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin-bottom: 1rem;
    text-transform: uppercase;
    position: relative;
}

.section-title::after,
.section-title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    background-color: var(--orange);
    width: 30%;
    height: 2px;
}

.section-title::before {
    width: 70%;
    bottom: -15px;
}

.btn-prev,
.btn-next {
    background-color: #e6e6e6;
    fill: var(--white);
    transition: all 0.4s;
    line-height: 1.1;
    border: none;
}

.btn-prev.active,
.btn-next.active,
.btn-prev:hover,
.btn-next:hover {
    background-color: var(--fl-green);
}

.pkg-card {
    display: block;
    background-color: var(--white);
    padding: 1rem;
    box-shadow: 0 0 1.5rem rgb(0 0 0 / 10%);
}

.pkg-card_body {
    background-color: var(--dark-blue);
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--white);
    padding: 0.5rem;
    position: relative;
}

.pkg-name {
    font-size: 2rem;
    font-weight: 600;
    margin: 0.5rem 0;
}

.pkg-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 
.price {
    font-weight: normal;
} */

.price>span {
    font-size: 1.5rem;
    font-size: var(--fnt-28);
    font-weight: 600;
    color: var(--orange);
}

.explore-btn {
    background-color: transparent;
    color: var(--orange);
    border: 1px solid var(--orange);
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    transition: all 0.4s;
}

.pkg-card_body:hover .explore-btn {
    background-color: var(--orange);
    color: var(--white);
}

.pkg-card.pkg-int .pkg-card_body {
    background-color: #4d4d4d;
}

@media (max-width: 768px) {
    .pkg-card {
        margin-bottom: 1.5rem;
    }
}

/* Honeymoon Packages */
.hm-city {
    font-family: 'Great Vibes', cursive;
}

.hm-outer,
.hills-outer {
    position: relative;
    display: block;
    border-radius: 0.75rem;
    overflow: hidden;
    transition: ease-in .3s;
}

.hills-outer {
    text-align: left;
}

.hills-outer>img {
    transition: ease-in 0.6s;
}

.hm-outer:hover>img {
    filter: grayscale(1);
}

.hills-outer:hover>img {
    filter: sepia(1);
    transform: scale(1.3);
    transition: ease-in 0.6s;
}

.gradient-overlay {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 70%;
    background-image: linear-gradient(to bottom, rgb(251 251 251 / 0%), rgb(0 0 0 / 65%));
}

.hm-details,
.hills-details {
    position: absolute;
    z-index: 1;
    bottom: -40px;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    text-align: center;
    color: var(--white);
    transition: all .8s;
}

.hills-details {
    text-align: left;
}

.hm-outer:hover>.hm-details,
.hills-outer:hover>.hills-details {
    bottom: 20px;
}

.city-name {
    font-size: 3.2rem;
    margin-bottom: 0.75rem;
    letter-spacing: 2px;
}

.hills-city {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 2.25rem;
    font-weight: 600;
    letter-spacing: 1px;
}

/* footer section design */
.section-footer {
    background-color: #e6e6e6;
    position: relative;
    padding: 2rem 0 0;
}

.co-details {
    font-size: 0.875rem;
}

.section-footer a {
    text-decoration: none;
    color: initial;
}

h6.links-head {
    font-weight: 600;
}

.quick-links {
    font-size: 14px;
}

.co-details>a {
    display: block;
    margin-bottom: 0.75rem;
}

.quick-links>li {
    padding: 0.5rem 0;
}

.quick-links>li>a>svg {
    margin-left: 0.35rem;
    transition: all 0.3s;
}

.quick-links>li:hover>a>svg {
    margin-left: 1.5rem;
}

.copyright {
    background-color: var(--dark-blue);
    color: var(--white);
    text-align: center;
    font-size: 0.75rem;
    padding: 10px 0;
    margin-top: 0.75rem;
}

/* Listing page */
.bcrumb-custom {
    font-size: 0.875rem;
    margin: 0;
    /* --bs-breadcrumb-margin-bottom: 1.5rem; */
}

.bcrumb-custom>.breadcrumb-item,
.bcrumb-custom>.breadcrumb-item>a {
    color: #b3b3b3;
}

.bcrumb-custom>.breadcrumb-item.active,
.bcrumb-custom>.breadcrumb-item.active>a {
    color: var(--white);
}

.bcrumb-custom>.breadcrumb-item+.breadcrumb-item::before {
    color: #b3b3b3;
}

/* Filter section */
.filter-section {
    padding: 1.5rem 0;
    display: block;
    position: relative;
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%);
}

.filter {
    display: flex;
    justify-content: flex-start;
}

/* .filter>img {
    margin-right: 0.75rem;
} */

.filter>div {
    width: 25%;
    padding: 0 0.75rem;
}

.filter input.form-range [type="range"] {
    color: #e6e6e6;
}

.filter h6 {
    color: var(--dark-blue);
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.filter label {
    font-size: 0.75rem;
    color: var(--bs-light-text);
}


.list-pkg-name,
.compare-heading {
    font-size: 1.75rem;
    font-weight: 600;
    color: var(--dark-blue);
    margin: 0;
}

.count-outer {
    display: flex;
    align-items: center;
    justify-content: right;
}

.package-count {
    background-color: var(--dark-blue);
    color: var(--white);
    font-size: 1.15rem;
    padding: 0.5rem 1.5rem;
    font-style: italic;
    font-weight: 600;
    height: 36px;
    line-height: 18px;
}

.compare {
    display: flex;
    align-items: center;
    margin-left: 0.75rem;
    color: var(--dark-blue);
    transition: all 0.3s;
}

.compare>.compare-count {
    border: 1px solid var(--dark-blue);
    padding: 0.5rem 1.5rem;
    font-size: 1.15rem;
    height: 36px;
    line-height: 18px;
    margin-right: 2px;
}

.compare>.icon-bg {
    background-color: var(--dark-blue);
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-theme-head {
    font-size: 1.75rem;
    color: var(--dark-gray);
    margin: 0;
    /* margin-bottom: 1.5rem; */
    font-weight: 600;
    position: relative;
    padding-left: 1.15rem;
}

.list-theme-head::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    background-color: var(--orange);
    height: 30px;
    width: 6px;
}

.more-pkgs {
    background-color: var(--white);
    border: 1px solid var(--fl-green);
    color: var(--fl-green);
    fill: var(--fl-green);
    padding: 0.5rem 0.875rem;
    font-size: 0.875rem;
    border-radius: 20px;
    transition: all 0.3s;
}

.more-pkgs:hover {
    background-color: var(--fl-green);
    border: 1px solid var(--fl-green);
    color: var(--white);
    fill: var(--white);
}

.pkg-list-outer {
    display: block;
    position: relative;
    background-color: var(--white);
    box-shadow: 0 0 1rem rgb(0 0 0 / 20%)
}

.img-outer {
    position: relative;
}

.pkg-code {
    background-color: var(--dark-blue);
    display: block;
    position: absolute;
    top: 15px;
    padding: 4px 5px;
    font-size: 12px;
    color: var(--white);
}

.add-compare,
.add-to-journey {
    background-color: var(--white);
    position: absolute;
    right: 10px;
    padding: 4px 5px;
    font-size: 12px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 35%);
}

.add-compare {
    top: 15px;
}

.add-to-journey {
    bottom: 15px;
}

.list-details {
    padding: 0.75rem;
    color: var(--dark-gray);
}

.list-details>.pkg-head {
    font-size: 1.15rem;
    font-weight: 600;
}

.list-details>.includes {
    display: flex;
    justify-content: flex-start;
    padding: 0.875rem 0;
}

.list-details>.includes>.inclu-text {
    background-color: var(--bs-gray-600);
    color: var(--white);
    font-size: 13px;
    align-items: center;
    display: flex;
    padding: 4px 6px;
    margin-right: 0.65rem;
}

.list-details>.includes>img {
    margin-right: 0.875rem;
    height: 24px;
}

.list-details>.includes>img:last-child {
    margin: 0;
}

.list-details .pkg-price,
.cart-rate>.pkg-price {
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0.25rem;
}

.list-details .view-details,
.journey-cart .book-now,
.compare-details .view-more,
.custom-card .book-now {
    background-color: var(--fl-green);
    border: none;
    padding: 0.75rem 0.875rem;
    color: var(--white);
    font-size: 0.875rem;
}

/* Add to Journey cart */

.journey-cart {
    position: absolute;
    top: 66px;
    right: 0;
    height: 0;
    width: 600px;
    display: none;
    transition: ease 0.4s;
    padding: 0 1rem;
    z-index: 3;
    color: var(--dark-gray);
}

.journey-cart.open {
    display: block;
    background-color: var(--white);
    box-shadow: 0 0 16px 2px rgb(0 0 0 / 25%);
    padding: 1rem;
    height: auto;
}

.cart-pkg {
    display: block;
    /* border: 1px solid var(--bs-gray-600); */
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
}

.cart-pkg .list-details {
    padding: 0;
}

.cart-rate {
    text-align: right;
}

.cart-rate>small {
    font-size: 0.65rem;
}

.cart-del {
    background-color: transparent;
    border: none;
    margin-top: 1rem;
    padding: 0;
}

.cart-del>img {
    height: 40px;
    float: right;
}

.total-cost>span {
    font-size: 1.5rem;
    font-weight: 600;
    margin-left: 0.5rem;
}

/* compare packages */
.close-btn {
    border: none;
    background-color: transparent;
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0px;
    top: 0;
    fill: var(--dark-blue);
}

.add-for-compare {
    background-color: var(--bs-gray-300);
    color: initial;
    padding: 1rem;
    min-height: 177px;
    display: flex;
    position: relative;
}

#add-border {
    width: 100%;
    padding-bottom: 1rem;
    border: 2px dashed var(--bs-gray-600);
    height: 145px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#add-border:before {
    content: '';
    position: absolute;
    top: 16px;
    left: 50%;
    transform: translateX(-50%);
    border: 4px solid var(--bs-gray-300);
    border-radius: 30%;
    padding: 1rem;
    width: 90%;
    height: 145px;
}

.add-for-compare>svg {
    margin-bottom: 1rem;
}

.compare-details {
    color: var(--dark-gray);
    fill: var(--bs-gray-600);
    border-bottom: 1px dashed var(--bs-gray-300);
    padding: 0 0.875rem;
    transition: all 0.3s;
    padding: 0.5rem;
}

.compare-details:hover {
    background-color: var(--bs-gray-100);
}

.compare-details .compare-row {
    /* border-bottom: 1px solid var(--bs-gray-400); */
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
}

.compare-details h6 {
    margin: 0;
}

.compare-details .compare-pkgs {
    font-weight: 600;
    font-size: 1.15rem;
    color: var(--bs-black);
}

.compare-details .compare-row h6 {
    margin-left: 0.875rem;
}

.compare-details .pkg-cost {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--fl-green);
}

/* slide out */
.slide-out {
    position: fixed;
    background-color: var(--white);
    top: 0;
    right: -10%;
    width: 0;
    height: 100vh;
    z-index: 9992;
    padding: 1.5rem 0.875rem;
    /* overflow-x: auto; */
    transition: all 0.6s;
    box-shadow: 0 0 12px rgba(0, 0, 0, .15);
}

.slide-out.open {
    width: 80%;
    right: 0;
}

.slides-close {
    position: absolute;
    top: 0;
    left: -40px;
    background-color: #e6e6e6;
    color: var(--dark-blue);
    fill: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
}

.overlay-bg {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .35);
    transition: ease 0.4s;
    width: 0;
    height: 100vh;
    visibility: hidden;
    opacity: 0;
    z-index: 9991;
}

.overlay-bg.open {
    width: 100%;
    opacity: 1;
    visibility: visible;
}

/* .slide-out.open>.slides-close {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: -40px;
    top: 0;
    background-color: var(--dark-blue);
    border: none;
    width: 45px;
    height: 45px;
    fill: var(--white);
} */


/* Package Details page */
.incl-outer {
    /* border: 1px solid var(--bs-gray-500); */
    padding: 0 0.75rem;
    display: flex;
    align-items: center;
    justify-content: end;
}

.list-details.incl-outer>.includes>img {
    height: 30px;
}

.custom-card.plus-next:after {
    content: url(/img/icons/plus-next.png);
    position: absolute;
    bottom: -66px;
    left: 50%;
    transform: translateX(-50%);
}

.custom-card.plus-next:last-child:after {
    content: none;
}

.custom-card {
    display: block;
    position: relative;
    font-size: 0.875rem;
    background-color: var(--white);
    color: var(--dark-gray);
    box-shadow: 0 0 0.875rem rgb(0 0 0 / 15%);
    padding: 1rem 1.5rem;
    margin-bottom: 4rem;
}

.custom-card:last-child {
    margin-bottom: 1rem;
}

.custom-card h5 {
    font-weight: 600;
    margin: 0;
    color: var(--bs-black);
    font-size: var(--fnt-18);
}

/* .custom-card p {
    font-size: 0.875rem;
} */

.custom-card p>img {
    height: 16px;
    vertical-align: bottom;
}

.outline-btn {
    background-color: var(--white);
    border: 1px solid var(--fl-green);
    color: var(--fl-green);
    padding: 0.70rem;
    transition: all 0.3s;
}

.outline-btn:hover {
    background-color: var(--fl-green);
    color: var(--white);
}

.nav.day-tab>.nav-link {
    position: relative;
    text-align: left;
    border: none;
    width: 80%;
    margin-bottom: 1rem;
    background-color: var(--bs-gray-400);
    font-size: 0.875rem;
    color: var(--white);
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s;
}

.nav.day-tab>.nav-link:last-child {
    margin-bottom: 0;
}

.nav.day-tab>.nav-link:hover,
.nav.day-tab>.nav-link.active {
    background-color: var(--fl-green);
}

.day-tab>.nav-link::after,
.day-tab>.nav-link::before {
    content: "";
    position: absolute;
    right: 0;
    width: 0;
    height: 0;
}

.day-tab>.nav-link::after {
    top: 0;
    border-top: 18px solid var(--white);
    border-left: 18px solid transparent;
}

.day-tab>.nav-link::before {
    bottom: 0;
    border-bottom: 18px solid var(--white);
    border-left: 18px solid transparent;
}

.transfers-card {
    position: absolute;
    top: 20px;
    left: -20px;
    background-color: var(--orange);
    width: 36px;
    height: 36px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transfers-card>img {
    height: 28px;
}

.act-img-wrap {
    height: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-wrap {
    height: 100px;
    overflow: auto;
}

.daywise-des {
    list-style-type: disc;
    padding-left: 1rem;
}

.daywise-des>li {
    margin-bottom: 0.25rem;
}

.daywise-des>li:last-child {
    margin-bottom: 0;
}

.star-rating {
    display: inline;
}

.star-rating>svg {
    fill: var(--orange);
    width: 18px;
    height: 18px;
}

.star-rating>svg:last-child {
    fill: var(--bs-gray-300);
}

/* price breakup */

.summary-heading {
    font-size: var(--fnt-16);
    font-weight: 600;
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid var(--bs-gray-400);
}

.price-breakup {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.25rem;
}

.total-price {
    font-size: 1.75rem;
    font-weight: 700;
}

.price-breakup>.breakup-dtls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.875rem 0;
    border-bottom: 1px solid var(--bs-gray-400);
}

.price-breakup>.breakup-dtls>p:first-child {
    color: var(--dark-gray);
}

.price-breakup>.breakup-dtls>.total-cost {
    font-weight: 600;
    font-size: 1rem;
}

.callback-btn,
.add-journey-btn {
    background-color: var(--dark-blue);
    border: none;
    color: var(--white);
    padding: 0.5rem;
    font-size: 0.875rem;
    fill: var(--white);
    min-width: 49%;
}

.add-journey-btn {
    background-color: var(--fl-green);
}

.callback-btn>svg,
.add-journey-btn>svg {
    margin-right: 0.115rem;
    vertical-align: text-bottom;
}

.add-journey-btn>img {
    height: 24px;
    margin-right: 0.115rem;
    vertical-align: middle;
}

#SlideLeft-Hotel.slide-out.open {
    width: 50%;
}

.change-hotel-wrap {
    display: block;
    position: relative;
    font-size: 0.875rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border: 1px solid var(--bs-gray-300);
    box-shadow: 0 0 0.875rem rgb(0 0 0 / 15%);
}

.change-hotel-wrap h5 {
    font-weight: 600;
    margin: 0;
    color: var(--bs-black);
    font-size: var(--fnt-18);
}

.change-hotel-wrap p>img {
    height: 16px;
    vertical-align: bottom;
}

.change-hotel-wrap .act-img-wrap {
    height: 90px;
}

.change-hotel-wrap ul>li {
    margin-bottom: 0.5rem;
}

.change-hotel-wrap ul>li>span {
    color: var(--fl-green);
    font-weight: 600;
}

/* Plan your journey page */
.top-heading {
    position: absolute;
    display: flex;
    width: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    flex-direction: column;
}

.selected-pkgs {
    position: relative;
    border-radius: 6px;
    padding: 1.25rem 0.75rem 0.75rem;
    background-color: var(--white);
    margin: 1.15rem 0 2rem 0;
    box-shadow: 0 0 8px rgb(0 0 0 / 15%);
}

.selected-pkgs>.pkg-nos {
    position: absolute;
    background-color: var(--fl-green);
    color: var(--white);
    border-radius: 6px;
    top: -15px;
    left: 12px;
    width: 40px;
    height: 30px;
    font-size: 0.875rem;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.added-package {
    position: relative;
    background-color: var(--white);
    color: var(--dark-blue);
    box-shadow: 0 0 12px rgb(0 0 0 / 20%);
    padding: 1rem;
    margin-bottom: 3.75rem;
}

.custom-control {
    border: 1px solid var(--bs-gray-400);
    padding: 0.5rem 0.875rem;
    font-size: 0.875rem;
    font-weight: 600;
    display: inline-flex;
    align-items: center;
    width: 60%;
}

.custom-control>input {
    border: none;
}

.custom-control>img {
    height: 26px;
    margin-right: 4px;
}

.journey-package {
    border: 1px solid var(--bs-gray-300);
    padding: 0.5rem;
    margin-top: 1rem;
}

.journey-package h5 {
    font-weight: 600;
    margin-bottom: 0.35rem;
    color: var(--bs-black);
    font-size: var(--fnt-18);
}

.journey-package h5>.night-stay {
    color: var(--bs-gray-600);
    font-weight: 400;
}

.journey-package p img {
    vertical-align: baseline;
    height: 16px;
}

.added-package::after {
    content: url(/img/icons/plus-saperte.png);
    position: absolute;
    bottom: -96px;
    left: 50%;
    transform: translateY(-50%);
}

.added-package:last-child::after {
    content: none;
}